* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
  font-family: 'Source Serif 4', sans-serif;
}

body {
  font-size: 1.6rem;
  color: #a54328;
}

#app {
  max-width: 32rem;
  margin: 0 auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

p, li, strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.ingredients h1 {
  margin-bottom: 2.4rem;
}

ul, ol {
  padding: 0 2.4rem;
}

ul {
  margin-bottom: 2.4rem;
}

button {
  background-color: #a54328;
  color: white;

  border: 0;
  padding: .8rem 1.2rem;
  border-radius: .6rem;
  margin-top: 1.8rem;
}

@media (min-width: 1120px) {
  #app {
    flex-direction: row;
    max-width: fit-content;
    gap: 16rem;

    padding: 9rem 6rem;
  }

  .recipe {
    max-width: 43.5rem;
  }

  .ingredients {
    max-width: 52.5rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  p, li, strong {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}